* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

body {
    height: 100%;
}

.main_container {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    height: 300px;
}

h1 {
    color: #FF3300;
}