.header_container {
    background-color: #645378;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    /*align-items: center;*/
    justify-content: space-between;
    width: 100%;
    min-height: 10%
}


.header_container span {
    text-shadow: 0 1px 0 #fff;
    color: white;
    font-family: 'Berlin Sans FB Demi','Helvetica Neue',Arial,sans-serif;
    font-size: 28px;
}

.inner_container{
    margin: 10px;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    color: white;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;

}

li {
    display: inline;
    padding: 10px;
    margin: 5px;
}

select {
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif ;
    height: 20px;
    width: 100px;
    background-color: #645378;
    color:white;
    text-transform: uppercase;
}

.my_account {
    padding: 10px;
    margin: 25px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif ;
    letter-spacing: 1px;
}

.under_line {
    padding: 10px;
    margin: 25px;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif ;
    letter-spacing: 1px;

}

.search {
    text-decoration: underline;
    font-size: large;
}

.logout_button {
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif ;
    height: 20px;
    width: 100px;
    background-color: #645378;
    color:white;
    text-transform: uppercase;
    border: 0px;
}

.footer_container {
    color: black;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    /*align-items: center;*/
    justify-content: center;
    width: 100%;
    min-height: 6%;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    font-size: 12px;
}