* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

body {
    background: url('../images/index/pills.jpg');
    background-size: cover;
    overflow: auto;
}

input.text_field {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-color: #645378;
    border: solid 0.5px;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
}

.main_container {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    height: 300px;
    background: rgba(255, 255, 255, 0.8);
    width: 400px;
    border: 2px solid #645378;
    /*     border-radius: 30px; */
}

.home-container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    /*background-color: rgba(100, 83, 120, 0.5);*/
}

#welcome {
    font-size: 45px;
    color: rgba(100, 83, 120, 0.8);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.login_button {
    width: 90px;
    height: 30px;
    padding: 5px;
    background-color: #645378;
    border-color: white;
    color: white;
    margin: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.errorMessage {
    color: red;
    font-size: 16px;
}

.message {
    color: darkcyan;
    font-size: 16px;
}