body {
    height: 100%;
}

p {
    font-family: Arial,sans-serif;
    font-size: 14px;
}
.main_container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

table {
    table-layout: auto;
}

th {
    text-align: center;
    /*width: ;*/
    height: 50px;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    background: rgba(54, 25, 25, 0.5);
    color: white;
    font-size: 12px;
}

td {
    height: 20px;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    font-size: 12px;
}

.errorMessage {
color: red;
font-size:16px;
}

.under_line {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 25px;
}

.add_button {
    width: 90px;
    height: 30px;
    padding: 5px;
    background-color: #645378;
    border-color: white;
    color: white;
    margin-top: 50px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}