* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

body {
    /*background: url('../images/index/pills.jpg');*/
    background-size: cover;
    overflow: auto;
}
input.text_field {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px;
    border-color:#645378;
    border:solid 0.5px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.main_container {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    height: 600px;
}

input.text_field {
    width: 250px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-color: #645378;
    border: solid 0.5px;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    font-size: 18px;
}

#days, input.send_text_field {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-color: #645378;
    border: solid 0.5px;
    box-shadow: 0.4em 0.4em 5px rgba(122, 122, 122, 0.5);
    font-size: 18px;
}

.button {
    width: 210px;
    height: 30px;
    padding: 5px;
    background-color: #645378;
    border-color: white;
    color: white;
    margin: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.send_button {
    width: 110px;
    height: 30px;
    padding: 5px;
    background-color: #645378;
    border-color: white;
    color: white;
    margin: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

td {
    height: 40px;
    width: -webkit-fill-available;
    vertical-align: middle;
    display: table-cell;
    font-size: 18px;
    margin: 5px;
}

h3, span, .errorMessage {
    color: red;
    font-size:16px;
}

.message {
    color: darkcyan;
    font-size:16px;
}


