* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

body {
    background-size: cover;
}

.main_container {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    /*align-items: center;*/
    /*-webkit-align-items: center;*/
    height: 100%;
}
.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    flex-direction: column;
    height: 300px;
    width: 600px;
}

#search {
    font-weight:700;
    font-size:18px;
    color:#645378;
    margin:10px;
}
.search_field {
    width: 350px;
    height: 30px;
    padding: 4px;
    margin: 10px;
    border: solid 0.5px;
    border-color: #645378;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.search_button {
    width: 90px;
    height: 30px;
    padding: 5px;
    background-color: #645378;
    border-color: white;
    color: white;
    margin: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}

.errorMessage, .message {
    color: red;
    font-size:16px;
    margin: 10px;
}