* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

body {
    /*background: url('../images/index/pills.jpg');*/
    background-size: cover;
    overflow: auto;
}
.main_container {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: start;
    -webkit-align-items: center;
    -webkit-justify-content: start;
    flex-direction: column;
    height: 80%;
}

.add_button {
    width: 100px;
    padding: 4px;
    background-color: #645378;
    border-color: white;
    color: white;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table_name {
    height: 15%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

table {
    table-layout: auto;
}

th {
    text-align: center;
    /*width: ;*/
    height: 50px;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    background: rgba(54, 25, 25, 0.5);
    color: white;
    font-size: 14px;
}

td {
    height: 30px;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    font-size: 14px;
}

td.dark-red {
    text-align: center;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    background: darkred;
    color: white;
    font-size: 14px
}

.number {
    height: 20px;
    width: 35px;
}

.check-box {
    height: 20px;
    width: 20px;
}

a {
    text-decoration: none;
    color: #645378;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}

div#seeOrder {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    width: 165px;
    height: 26px;
    background-color: #645378;
    margin: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.errorMessage {
    color: red;
    font-size:16px;
}

.message {
    color: darkcyan;
    font-size:16px;
}