* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat","Helvetica Neue",Arial,sans-serif;
}

body {
    height: 100%;
}

p {
    font-family: Arial,sans-serif;
    font-size: 14px;
}

h2, h3, .message {
    color: darkcyan;
}

table {
    table-layout: auto;
}

th {
    text-align: center;
    height: 50px;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    background: rgba(54, 25, 25, 0.5);
    color: white;
    font-size: 14px;
}

td {
    height: 20px;
    padding: 4px;
    vertical-align: middle;
    display: table-cell;
    font-size: 14px;
}

#doc {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: column;
    height: 90%;
}

#a {
    text-align: center;
    margin-top: 20px;
    color: darkcyan;
    text-decoration: underline;
}

#details {
    width: 200px;
}

.main_container {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-direction: column;
    height: 90%;
}

.container {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    flex-direction: column;
}

.left_container {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    justify-content: start;
    -webkit-align-items: flex-start;
    flex-direction: column;
}

.left_menu {
    height: 50px;
    width: 250px;
    margin: 10px;
    text-align: start;
    vertical-align: center;
}

.order_th {
    width: 100px;
}

.errorMessage {
    color: red;
    font-size:16px;
}

.under_line {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin: 25px;
}

a.on_page {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    color: darkcyan;
}

.button {
    width: 260px;
    height: 50px;
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-align: center;
    background-color: darkcyan;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
}

.next_button {
    width: 100px;
    height: 30px;
    padding: 4px;
    background-color: #645378;
    border-color: white;
    color: white;
    margin-top: 10px;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8em;
}
